// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$navbar-default-bg:#2F363E;
$btn-danger-color:#fff;
$navbar-default-brand-color:#fff;
$font-size-base:16px;
$navbar-default-link-color:#fff;
$navbar-default-link-hover-color:#41D29F;
$panel-default-heading-bg:#2F363E;
$panel-default-text:#fff;
$navbar-margin-bottom:0;




//***************************
//** FONT  and IMPORT *******  
//***************************

@import url(http://fonts.googleapis.com/css?family=Exo+2:400,900,800,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
@import "bootstrap-sprockets";
@import "bootstrap";

//***************
//** STRUCTURE **  
//***************

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

nav {
	font-size:14px;
	font-family:"Helvetica Neue",sans-serif;
	font-weight:600;
}

h1 {
	font-size:24px;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Open Sans', serif;
}



//***************
//** NAVBAR **  
//***************


.navbar-brand {
	font-family: 'Exo 2', sans-serif;
	font-weight: 900;
	font-size:24px;
}

.navbar-form {
	padding: 5px 10px;
}

.navbar-right li a {
	padding: 5px 10px;
	margin: 10px;
	// text-transform:uppercase;
}


#nav-btn {
	transition: all 0.5s ease;
	background:#41D29F;
	border-radius: 5px;

}

#nav-btn:hover {
	background:#218F71;
	color:#fff !important;
}

//***************
//** HOMEPAGE **  
//***************

#home-content {
	margin-top:50px;
	font-size:24px;
}

#home-title {
	text-transform:uppercase;
	font-size:48px;
	font-weight:800;
	color:#fff;
}

#home-text {
	font-weight:48px;
	color:#fff;
}

#home-content a {
	margin:10px 0;
}

#search {

}

#main:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(bg2.jpg) no-repeat center center fixed; 
    width: 100%;
    height: 500px;
    opacity : 0.6;
    z-index: -1;
}

#place-content {
	margin-top:446px;
	background:#8e8e8e;
}



//***************
//** SIGNUP **  
//***************

.signup-form {
	text-align:center;
}

.signup-form {
	margin-top:70px;
}


//***************
//** HOME **  
//***************

#place-container {
	background:#FAFAFA;
}


.box .panel {
	width:300px;
	height:250px;
}

.panel img {
	height:140px;
	width:300px;
}

.star-rating img {
	width: 15px; 
	display:inline-block;
	height:15px;
}

strong {
	text-transform:uppercase;
}
//***************
//** RESULTS **  
//***************

.place {
	// margin:10px 0;
}

.hover {
	background:#FAFAFA;
}

.place-title a {
	font-size:20px;
	font-weight:700;
	color:#000;
	text-transform:uppercase;
	text-decoration:none;
}

.place-profile-picture img {
	width:100px;
	height:100px;
	display:inline-block;
}
