<div class="footer">
	<div class="row inner-footer">
		<div class="col-md-6 col-md-offset-2">
				<%= link_to 'About', pages_about_path %>
				<%= link_to 'Terms & Privacy', pages_privacy_path %>
		</div>
			<div class="col-md-11">
				<h1>Follow Us</h1>
			</div>
		
	</div>
</div>
